:root {
  font-family: 'Roboto', sans-serif;
}

input[type=list],
select {
  background-color: transparent;
  border-radius: 2px;
  border-style: none none solid none;
  font: 16px 'Roboto', sans-serif;
  padding: 10px;
}

input[type=list]:focus,
select:focus {
  outline: none;
}

.input-valid {
  border-color: #767676;
  border-style: none none solid none;
}

.input-invalid {
  border-color: red;
  border-style: solid !important;
}

.wrapper {
  margin: 0 60px 0 60px;
}

#header {
  border-bottom: 1px solid #e7e7e9;
  line-height: 1em;
  padding-left: 30px;
}

#query-form {
  display: inline-flex;
}

#query {
  text-align: center;
}

button,
input[type=submit] {
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
  margin: 30px;
  padding: 10px;
  text-transform: uppercase;
}

input[type=submit] {
  background: #0dbd00;
}

button {
  background: #0071bd;
}

button,
input[type=submit]:focus {
  outline: 0;
}

button:hover,
input[type=submit]:hover {
  filter: brightness(90%);
  transition: all .4s ease-in-out;
}

#result {
  border-radius: 10px;
  box-shadow: 5px 5px 15px #e7e7e9;
  display: none;
  margin: 30px 0 60px 0;
  padding: 30px;
  text-align: center;
}

#am-charts {
  height: 600px;
}

#map {
  height: 700px;
  display: none;
}

#buttons {
  display: none;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#map-toggle-switch {
  display: inline-block;
}

#map-options {
  white-space: nowrap;
}

.map-option {
  display: inline-block;
  line-height: 40px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

#map-title {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

#more-info {
  text-align: center;
}

#data-table {
  display: none;
}

.data-table-header {
  background-color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: white;
  border-top: 1px solid #e7e7e9;
  bottom: 0;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
