:root {
  font-family: 'Roboto', sans-serif;
}

input[type=list],
select {
  background-color: transparent;
  border-radius: 2px;
  border-style: none none solid none;
  font: 16px 'Roboto', sans-serif;
  padding: 10px;
}

input[type=list]:focus,
select:focus {
  outline: none;
}

.input-valid {
  border-color: #767676;
  border-style: none none solid none;
}

.input-invalid {
  border-color: red;
  border-style: solid !important;
}

.wrapper {
  margin: 0 60px 0 60px;
}

#header {
  border-bottom: 1px solid #e7e7e9;
  line-height: 1em;
  padding-left: 30px;
}

#query {
  text-align: center;
}

input[type=submit] {
  background: #0dbd00;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
  margin: 30px;
  padding: 10px;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background: #0ba600;
  transition: all .4s ease-in-out;
}

input[type=submit]:focus {
  outline: 0;
}

#result {
  border-radius: 10px;
  box-shadow: 5px 5px 15px #e7e7e9;
  display: none;
  margin: 30px 0 60px 0;
  padding: 30px;
}

#am-charts {
  height: 600px;
}

#map {
  height: 600px;
}

#buttons {
  display: none;
  text-align: center;
}

#map-title {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

#more-info {
  text-align: center;
}

footer {
  background-color: white;
  border-top: 1px solid #e7e7e9;
  bottom: 0;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
